@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

:root{
    --dark-blue:hsl(223,26%,24%);
    --lime-green:hsl(136,65%,51%);
    --bright-cyan:hsl(192,70%,51%);
    --grayish-blue:hsl(233,8%,62%);
    --light-grayish-blue:hsl(220,16%,96%);
    --very-light-gray:hsl(0,0%,98%);
    --white:hsl(0,0%,100%);
    /* background: linear-gradient(90deg, #d53369 0%, #daae51 100%); */
}
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}
body{
  font-family: 'Public Sans', sans-serif;
  
}
.container{
    max-width: 1200px;
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}
.nav{
    position: fixed;
    width: 100%;
    background-color: var(--white);
    z-index: 1000;
    
    top: 0px;
}
.border{
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.social:hover{
    color: var(--lime-green);
}
.nav__flex{
  
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.nav__links{
    position: fixed;
    top: 80px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
    width: 90%;
    padding: 3em 1em;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    background-color: var(--white);
    z-index: 1000;
    border-radius: 6px;
    display: grid;
    justify-items: center;
    gap: 2em;
    transition: .3s;
    transform: translateY(-150%);
}

.show{
    transform: translateY(0%);;
}
.nav__link{
    text-decoration: none;
    color: var(--dark-blue);
 
}
.hero__main{
    max-width: 1200px;
    margin: 0 auto;
}

.hero__background{
    width: 100%;
    height: 300px;
    position: relative;
    /* background-image: url('../img/perfil.jfif'); */
    background-repeat: no-repeat;
    background-size: 100% 350%;
}
.hero__background::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: 0 auto;
    background-image: url('../img/perfil.jfif');
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.hero__text{
    width: 90%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 80px;
}
.hero__title{
    margin-top: 1em;
    font-size: 2.3rem;
    font-weight: 400;
    color: var(--dark-blue);
}
.hero__paragrahp{
    line-height: 1.5;
    font-weight: 300;
    margin: 1em 0 1.5em;
    color: var(--grayish-blue);
}
.hero__cta, .project__cta{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cta{
    display: inline-block;
    padding: 1em 2em;
    background-image: linear-gradient(to right,var(--lime-green),var(--bright-cyan));
    color: var(--white);
    text-decoration: none;
    transition: transform 0.2s ease;
    font-weight: bold;
}
.cta:active{
    transform: scale(0.96);
}

.cta--outline{
    padding: 1em 2em;
    background-color: var(--white);
    color: var(--lime-green);
    border: 1px solid var(--lime-green);
    text-decoration: none;
    font-weight: bold;
}
.cta:hover{
    background-image: var(--white);
    color: var(--lime-green);
    border: 1px solid var(--lime-green);
}
.cta--outline:hover{
    background-image: linear-gradient(to right,var(--lime-green),var(--bright-cyan));
    color: var(--white);
}
.hero__social{
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-bottom: 2em;
}
.social{
    font-size: 24px;
    color: var(--grayish-blue);
}

.about{
    background-color: var(--light-grayish-blue);
}
.about__container{
    text-align: center;
    padding: 70px 0px;
}
.title{
    margin-top: 1em;
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
}
.about__paragraph{
    line-height: 1.5;
    margin-top: 1em;
    text-align: justify;
    margin-bottom: 4em;
    color: var(--grayish-blue);
}
.about__image{
    width: 100%;
}
.image{
    display: block;
    width: 100%;
}
.about__skils{
    display: grid;
    gap: 10px;
    margin-top: 1em;
}
.about__skill{
    color: var(--grayish-blue);
}
.about__skill__item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 1em;
    border: 1px solid var(--grayish-blue);
    border-radius: 8px;
}

/* PORTAFOLIO */
.portafolio{
    background-color: var(--very-light-gray);
}
.portafolio__container{
    padding: 70px 0;
    text-align: center;
}
.projects__content{
    margin-top: 2em;
    display: grid;
    gap: 2em;
}
.projects__project{
    width: 100%;
    max-width: 400px;
    margin:0 auto;
    background-color: var(--white);
    border-radius: 7px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.2);
    overflow: hidden;
    text-align: left;
}
.projects__img{
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
}
.projects__texts{
    padding: 1.5em 1em 2.5em;
}
.projects__title{
    color: var(--dark-blue);
    font-weight: 400;
    margin: .7rem 0;
}
.projects__paragraph{
    color: var(--grayish-blue);
    line-height: 1.5;
}
.projects__skills{
    list-style: none;
    display: flex;
    margin-top: 1em;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
.img__skill{
    height: 24px;
    width: 24px;
}

/* FOOTER */
.footer{
    background-color: var(--dark-blue);
    text-align: center;
}
.footer__container{
    padding: 70px 0px;
}
.footer__socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.footer__media{
    color: white;
    font-size: 24px;
}   

.footer__nav{
    display: grid;
    gap: 1em;
    justify-items: center;
    margin: 1.5em 0;
}
.footer__link{
    text-decoration: none;
    color: var(--white);
}
.copy{
    color: var(--grayish-blue);
}
.hero__text,.hero__background{
    margin-top:80px ;
}
.contact{
    background-color: var(--light-grayish-blue);
}
.contact__container{
    text-align: center;
    padding: 70px 0px;
    display: flex;
    flex-direction: column;
}
.contact__title{
    margin: 0.7rem 0;
    font-size: 2rem;
    font-weight: 400;
    color: var(--dark-blue);
}
.contact__paragraph{
    color: var(--grayish-blue);
}
.contact__card{
  
    background-color: white;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    gap: 10px;
    margin: 1rem 0;
}
.contact__icon{
    font-size: 24px;
    color: var(--dark-blue);
}
.contact__email::before{
    content: 'deimerhdz21@gmail.com';
    color: var(--dark-blue);
}
.contact__form{
    background-color: var(--white);
    border-radius: 8px;
    padding: 20px 0px;
}
.form{
    display: grid;
    width: 100%;
    gap: 20px;
}
.form__group{
    display: flex;
    padding: 0 16px;
    flex-direction: column;
}
.form__group label{
    text-align: left;
    margin-bottom: 8px;
}
.form__input{
    border: 1px solid var(--grayish-blue);
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    font-family: 'Public Sans', sans-serif;;
}
button.cta{
    border: none;
}
.selected__lang{
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    color: var(--dark-blue);
}
.selected__lang::before{
    content: '';
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('https://flagsapi.com/ES/flat/32.png');
}
.lang__menu ul {
    background-color: var(--white);
    margin: 0px;
    position: absolute;
    color: var(--dark-blue);
    padding: 0px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    border: 1px solid --grayish-blue;
    border-radius: 7px;
    display: none;
}
.lang__menu ul li{
   list-style: none;
   display: flex;
}
.lang__menu ul li a{
    width: 125px;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: var(--dark-blue);
 }
 .lang__menu ul li a:hover{
    background-color: var(--light-grayish-blue);
 }
 .lang__menu ul li a::before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    width: 32px;
    height: 32px;
 }
 .es::before{
    background-image: url('https://flagsapi.com/ES/flat/32.png');
 }
 .en::before{
    background-image: url('https://flagsapi.com/US/flat/32.png');
 }
 .lang__menu:hover ul{
    display: block;
 }
@media (min-width:768px){
    .nav__links{
        position: unset;
        transform: unset;
        margin: 0;
        border-radius: 0;
        box-shadow: unset;
        padding: 0;
        width: max-content;
        display: flex;
        gap: 1em;
        height: 100%;
    }
    .nav__link{
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        position: relative;
    }
    .nav__link::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 4px;
        background-color: var(--lime-green);
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity .3s
    }

    .nav__link:hover::before{
        opacity:1;
    }
    .nav__menu{
        display: none;
    }

    .hero__main{
        width: 95%;
        margin-left: auto;
        display: flex;
        height: 700px;
        flex-direction: row-reverse;
        align-items: center;
    }
    .hero__background{
        width: 50%;
        height: 300px;
        display: block;
        margin: 0 auto;
    }
    div.hero__background::before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 300px;
        height: 300px;
        margin: unset;
        margin-left:  auto !important;
      
    }
    .hero__text{
        width: 45%;
        padding-bottom: 0;
       
        text-align: start;
    }
    .projects__project .project__cta{
        width: 100%;
        justify-content: center;
        margin-top: 1em;
    }
    .hero__cta,.project__cta{
        display: inline-flex;
        flex-direction: row;
    }
    .hero__title{
        margin: 0px
    }
    .hero__social{
        justify-content: flex-start;
    }
    .about__container{
        text-align: start;
        display: flex;
        gap: 40px;
    }
    .about__paragrahp{
        width: 550px;
    }
    .about__skils{
        grid-template-columns: repeat(3,1fr);
    }
    .image{
        width: 400px;
    }
    .projects__content{
     grid-template-columns: repeat(3,1fr);
    }
    .projects__project{
        max-width: unset;
    }
    .footer__container{
        display: flex;
        align-items: center;
    }
    .footer__nav{
      
        margin-left: 60px;
        column-gap: 60px;
     
        grid-template-columns: repeat(4,1fr);
    }
    .copy{
        margin-left: auto;
    }
    
    .contact__container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .contact__form{
        width: 50%;
    }
    .form__input{
        border: 1px solid var(--grayish-blue);
    }
}

@media  (min-width:1270px) {
    .hero__main{
        margin:0 auto;
    }
}