
.proyecto__item{
    display: flex;
    gap: 2rem;
    margin-top: 3rem;
}
.proyecto__item .proyecto__item__info{
    line-height: 2rem;
}
@media screen and (min-width:0) {
    .proyecto__item{
        flex-direction: column;
        
    }
}

@media screen and (min-width:480px) {
 
    .proyecto__item{
        flex-direction: row;
        
    }
    .proyecto__item--reverse{
        flex-direction: row-reverse;
    }
}