<nav class="nav animate__animated animate__fadeIn">
    
    <a class="nav__brand" href="">Deimer</a>
    <div class="nav__menu">
        <div class="nav__item"  [ngClass]="{'active': toggle}">
            <a class="nav__item__link" href="#home">Home</a>
            <a class="nav__item__link" href="#about">About me</a> 
            <a class="nav__item__link" href="#projects">Projects</a>
        </div>
        <a href="#contact" class="button button--primary" id="contact-cta">let's talk</a>
    </div>
        
    <span class="button__toggle" (click)="onToggle()"><i class="fa-solid fa-bars"></i></span>
</nav>
