
<section class="header animate__animated animate__fadeIn">
    <div class="header__description">
        <h1 class="header__title">Hello I'm <span class="text__primary">Deimer.</span> I'm Web developer</h1>
        <p class="header__paragraph">I'm a system engineer from Colombia, I specialize in web developer and software architecture.</p>
        <div class="header__buttons">
            <a class="button button--primary">get in touch</a>
            <a class="button button--primary--outline">view all work</a>
        </div>
        <div class="header__socials">
            <a href="" title="Instagram" class="header__socials__link"><i class="fa-brands fa-instagram"></i></a>
            <a href="" title="Linkedin" class="header__socials__link"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="" title="Github" class="header__socials__link"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
    <figure class="header__image">
        <div class="line"></div>
        <img src="../../../assets/images/perfil.jpeg" alt="perfil">
    </figure>
</section>