.skills {
    width: 100%;
    padding: 2.5rem 0 0 0 ;
    background-color: var(--bg-secondary);
    
}

.skills .container{

    display: flex;
    justify-content: space-between;
}

@media screen and (min-width:0) {
    .skills .container{
        flex-wrap: wrap;
    }
}

@media screen and (min-width:700px) {
    .skills .container{
        flex-direction: row;
    }
}