

@media screen and (min-width:0) {
    .banner__descripcion{
        font-size: 1rem;
        margin-bottom: 1.5rem;
        text-align: justify;
        line-height: 2rem;
    }
}

@media screen and (min-width:700px) {
    .banner__descripcion{
        font-size: 1rem;
        margin-bottom: 1.5rem;
        line-height: 2rem;
    }
}