/* .card{

    background-color: var(--bg-secondary);
} */

@media screen and (min-width:0) {
    .card{
        width: 100%;
      
    }
    
}

@media screen and (min-width:700px) {
    .card{
        width: 250px;
       
    }
    
}