@use '../assets/styles/mixins' as mixins;

.wrapper{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 1rem;
    @include mixins.desktop() {
        padding: 0 160px;
    }
}

